{% extends "_base.html" %}
{% load static %}
{% block title %}
Vajrayana AI Chat
{% endblock %}


{% block content %}
        <h2 id="title" class="title text-center my-4">Ask Thrangu Rinpoche</h2>
        <select class="select" name="title" hx-get="{% url 'get_title' %}" hx-trigger="change" hx-swap="outerHTML" hx-target="#title">
            {% for expert in experts %}
                <option value="{{ expert }}">{{ expert }}</option>
            {% endfor %}
        </select>
        <label class="form-label select-label">Choose an Expert:</label>
        <br>
            <form method="POST" >
                {% csrf_token %}   
                    {% for field in form %}
                        <div class="form-outline mb-4">  
                            {{ field }}
                        </div>
                    {% endfor %}
                <button hx-post="{% url 'home' %}" hx-trigger="click" hx-target="#answer" hx-swap="afterbegin" hx-indicator="#spinner" class="btn btn-danger btn-block">Submit Question</button>
            </form>

            <div class="text-center">
                <img  id="spinner" class="htmx-indicator mt-2 mb-1" src="{% static '/img/bars-rotate-fade.svg' %}" >
            </div>

            <div id="answer">
            </div>
            <div class="text-center">
                <img class="img-fluid rounded mb-3" src="{% static '/img/amitabha_painting.jpg' %}" alt="Amitabha Buddha" >
            </div>
{% endblock %}
</body>
</html>
